@model Service.Models.HomeViewModel
@{
    ViewBag.Title = "User Home";
    string projectImage;

    if (Model.Project == null)
    {
        projectImage = null;
    }
    else
    {
        projectImage = Model.Project.image ?? "~/Images/default_project.png";
    }
}

<div class="my-slide">
    <div><img src="/Images/slide1.jpeg" alt="" /></div>
    <div><img src="/Images/slide2.jpg" alt="" /></div>
    <div><img src="/Images/slide3.jpg" alt="" /></div>
</div>

<div class="home-view col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    

    @if (Model.Project == null)
    {
        <p>You have no project!</p>
    }
    else
    {
        <p class="font-comfortaa-bold">Featured Project</p>
        <div class="project-image col-md-5 col-sm-5 no-padding-left">
            <a href="@Url.Action("ViewProject", "Project")?project_id=@Model.Project.id"><img src="@Href(projectImage)" alt=""/></a>
        </div>
        <div class="project-detail col-md-3 col-sm-3 font-comfortaa-light">
            <p class="font-comfortaa-bold">
                <a href="@Url.Action("ViewProject", "Project")?project_id=@Model.Project.id">@Model.Project.title</a>
            </p>
            <p>@(string.Format("{0} {1}", Model.User.firstname, Model.User.lastname))</p>
            <p>@Model.Project.description</p>
        </div>
    }
</div>

<script>
    $(document).ready(function(){
        $('.my-slide').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>