@model DataTier.User

@{
    ViewBag.Title = "title";
}

<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="my-form col-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
    @if (ViewBag.Success != null)
    {
        <p>
            Đăng ký thành công! Click vào <a href="@Url.Action("Index", "Home")">đây</a> để quay về trang chủ
        </p>
    }
    else
    {
        using (Html.BeginForm())
        {
            <p>Log In</p>
            @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", placeholder = "First name" })
            @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", placeholder = "Last name" })
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Email" })
            <input type="text" name="re_email" id="re_email" class="form-control" placeholder="Re-enter email" />
            @Html.TextBoxFor(m => m.password, new { @class = "form-control", type = "password", placeholder = "Password" })
            <input type="password" name="re_password" id="re_password" class="form-control" placeholder="Re-enter password" />
            <p class="red-text">Red border is the properties cannot be empty!</p>
            <input type="submit" class="btn btn-yellow" value="Become a member" />
            if (ViewBag.Message != null)
            {
                <p class="red-text">@ViewBag.Message</p>
            }

            if (ViewBag.Html != null)
            {
                @ViewBag.Html
            }
        }
    }
</div>

<script>
    $(document).ready(function () {
        $('form').validate({
            rules: {
                firstname: 'required',
                lastname: 'required',
                email: 'required',
                password: {
                    required: true,
                    minlength: 8
                },
                re_email: {
                    equalTo: '#email'
                },
                re_password: {
                    equalTo: '#password'
                }
            },
            messages: {
                firstname: "Please enter your firstname",
                lastname: "Please enter your lastname",
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long"
                },
                re_email: {
                    equalTo: 'Not match email'
                },
                re_password: {
                    equalTo: "Not match password"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>