@model DataTier.User

@{
    ViewBag.Title = "Setting";
}

<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="setting-view col-md-12 col-sm-12 no-padding">
    <div class="above col-md-12 col-sm-12 no-padding">
        <h1 class="font-comfortaa-bold">Settings</h1>
        <div class="option @(ViewBag.EditProfile == null? "":"selected")">
            <p>Edit Profile</p>
        </div>
        <div class="option @(ViewBag.AccountDetails == null ? "" : "selected")">
            <p>Account Details</p>
        </div>
        <div class="option @(ViewBag.Notifications == null ? "" : "selected")">
            <p>Notifications</p>
        </div>
        <div class="option @(ViewBag.BlockedUsers == null ? "" : "selected")">
            <p>Blocked Users</p>
        </div>
    </div>
    <div class="edit-profile col-md-12 col-sm-12 no-padding">
        <form id="edit-profile" action="#">
            <p class="form-label">First Name</p>
            @Html.TextBoxFor(u => u.firstname, new { @class = "form-control", placeholder = "First name", value = Model.firstname })
            <p class="form-label">Last Name</p>
            @Html.TextBoxFor(u => u.lastname, new { @class = "form-control", placeholder = "Last name", value = Model.lastname })
            <p class="form-label">Enter mood message</p>
            @Html.TextBoxFor(u => u.about_me, new { @class = "form-control", placeholder = "Something about you", value = Model.about_me })
            <p class="form-label">Location</p>
            <div class="location no-padding row">
                <div class="select-option col-md-6 col-sm-6 no-padding-left">
                    <button id="country" class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                        Choose your country <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12"></ul>
                </div>
                <div class="select-option col-md-6 col-sm-6 no-padding-right">
                    <button id="state" class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                        Choose your state <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12"></ul>
                </div>
                <div class="select-option col-md-6 col-sm-6 no-padding-left">
                    <button id="district" class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                        Choose your district <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12"></ul>
                </div>
            </div>
            <p class="form-label">Choose your roles</p>
            <div class="roles row">
                <div class="select-option col-md-8 col-sm-6 row no-padding-left">
                    <button class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                        Primary role <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12"></ul>
                </div>
                <div class="select-option col-md-8 col-sm-6 row no-padding-left">
                    <button class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                        Secondary role <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12"></ul>
                </div>
            </div>
            <input class="btn btn-yellow pull-right" type="button" value="Save changes">
        </form>
    </div>
    <div class="account-detail col-md-12 col-sm-12 no-padding"></div>
    <div class="notifications col-md-12 col-sm-12 no-padding"></div>
    <div class="blocked-users col-md-12 col-sm-12 no-padding"></div>
</div>

<script>
    $(document).ready(function () {
        $('.option').click(function () {
            $('.option').each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        });

        getCountries(loadCountries);
        getRoles(loadRoles);

        $('#edit-profile').validate({
            rules: {
                'firstname': "required",
                'lastname': 'required'
            },
            messages: {
                'firstname': "cannot be empty",
                'lastname': "cannot be empty"
            }
        });


        function addSelectClickEvent(specific) {
            $(specific + ' .select-option li a').click(function () {
                var button = $(this).parent().parent().parent().children('button').first();
                button.html($(this).text() + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                button.val($(this).parent().val());
            });
        }

        function loadCountries(countries) {
            var notNull = false;
            countries.forEach(function (item, index) {
                var li = $('<li></li>');
                li.val(item.id);
                li.html('<a>' + item.name + '</a>');
                $('.select-option:first-of-type ul').first().append(li);

                if (item.id == '@Model.country_id') {
                    $('.select-option:first-of-type button').first().val(item.id);
                    $('.select-option:first-of-type button').first()
                        .html(item.name + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                    notNull = true;
                    getStates(item.id, loadStates);
                }
            });

            $('.select-option:first-of-type li a').click(function () {
                getStates($(this).parent().val(), loadStates);
            });

            if (!notNull) {
                $('.select-option:nth-of-type(3) button').first().html('Choose your district <span class="glyphicon glyphicon-chevron-down"></span>');
                $('.select-option:nth-of-type(3) button').first().val(0);
                addSelectClickEvent('.location');
            }
        }

        function loadStates(states) {
            var notNull = false;
            $('.select-option:nth-of-type(2) button').first().html('Choose your state <span class="glyphicon glyphicon-chevron-down"></span>');
            $('.select-option:nth-of-type(2) button').first().val(0);
            $('.select-option:nth-of-type(2) ul').first().html('');
            if (states != null)
                states.forEach(function (item, index) {
                    var li = $('<li></li>');
                    li.val(item.id);
                    li.html('<a>' + item.name + '</a>');
                    $('.select-option:nth-of-type(2) ul').first().append(li);

                    if (item.id == '@Model.state_id') {
                        $('.select-option:nth-of-type(2) button').first().val(item.id);
                        $('.select-option:nth-of-type(2) button').first()
                            .html(item.name + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                        getDistricts(item.id, loadDistricts);
                        notNull = true;
                    }
                });

            $('.select-option:nth-of-type(2) li a').click(function () {
                getDistricts($(this).parent().val(), loadDistricts);
            });

            if (!notNull) {
                $('.select-option:nth-of-type(3) button').first().html('Choose your district <span class="glyphicon glyphicon-chevron-down"></span>');
                $('.select-option:nth-of-type(3) button').first().val(0);
                $('.select-option:last-of-type ul').html('');
                addSelectClickEvent('.location');
            }
        }

        function loadDistricts(districts) {
            $('.select-option:nth-of-type(3) button').first().html('Choose your district <span class="glyphicon glyphicon-chevron-down"></span>');
            $('.select-option:nth-of-type(3) button').first().val(0);
            $('.select-option:last-of-type ul').html('');
            if (districts != null)
                districts.forEach(function (item, index) {
                    var li = $('<li></li>');
                    li.val(item.id);
                    li.html('<a>' + item.name + '</a>');
                    $('.select-option:last-of-type ul').first().append(li);

                    if (item.id == '@Model.district_id') {
                        $('.select-option:last-of-type button').first().val(item.id);
                        $('.select-option:last-of-type button').first()
                            .html(item.name + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                    }
                });

            addSelectClickEvent('.location');
        }

        function loadRoles(roles) {
            if (roles != null) {
                roles.forEach(function (item, index) {
                    var li = $('<li></li>');
                    li.val(item.id);
                    li.html('<a>' + item.role + '</a>');
                    $('.roles ul').append(li);

                    if (item.id == '@Model.role1') {
                        $('.roles .select-option:first-of-type button').first().val(item.id);
                        $('.roles .select-option:first-of-type button').first().html(item.role + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                    }

                    if (item.id == '@Model.role2') {
                        $('.roles .select-option:nth-of-type(2) button').first().val(item.id);
                        $('.roles .select-option:nth-of-type(2) button').first().html(item.role + ' <span class="glyphicon glyphicon-chevron-down"></span>');
                    }
                });

                addSelectClickEvent('.roles');
            }
        }

        $('#edit-profile input:last-of-type').click(function () {
            if ($("#edit-profile").valid()) {
                alert('passed');
            } else {
                alert('failed');
            };
        });
    });
</script>