@model Service.Models.SettingViewModel

@{
    ViewBag.Title = "Setting";
}

<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="setting-view col-md-12 col-sm-12 no-padding">
    <div class="above col-md-12 col-sm-12 no-padding">
        <h1 class="font-comfortaa-bold">Settings</h1>
        <div class="option @(ViewBag.EditProfile == null? "":"selected")">
            <p>Edit Profile</p>
        </div>
        <div class="option @(ViewBag.AccountDetails == null ? "" : "selected")">
            <p>Account Details</p>
        </div>
        <div class="option @(ViewBag.Notifications == null ? "" : "selected")">
            <p>Notifications</p>
        </div>
        <div class="option @(ViewBag.BlockedUsers == null ? "" : "selected")">
            <p>Blocked Users</p>
        </div>
    </div>
    <div class="edit-profile col-md-12 col-sm-12 no-padding">
        <form id="edit-profile" action="#">
            <label for="firstname">First Name</label>
            @Html.TextBoxFor(u => u.User.firstname, new { @class = "form-control", placeholder = "First name", value = Model.User.firstname })
            <label for="lastname">Last Name</label>
            @Html.TextBoxFor(u => u.User.lastname, new { @class = "form-control", placeholder = "Last name", value = Model.User.lastname })
            <label for="about_me">Enter mood message</label>
            @Html.TextBoxFor(u => u.User.about_me, new { @class = "form-control", placeholder = "Something about you", value = Model.User.about_me })
            <button>click</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.option').click(function () {
            $('.option').each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        });

        $('#edit-profile').validate({
            rules: {
                'User.firstname': "required"
            },
            messages: {
                'User.firstname': "cannot be empty"
            }
        });

        $('.edit-profile button').click(function() {
            if ($("#edit-profile").valid()) {
                alert('passed');
            } else {
                alert('failed');
            };
        });
    });
</script>