@model DataTier.User

@{
    ViewBag.Title = "User profile";
    string avatar = Model.avatar ?? "~/Images/avatars/default_avatar.png";
}

<div class="user-profile col-md-12 no-padding">
    <div class="profile col-md-8 col-md-offset-2 font-comfortaa-light">
        <img src="@Href(avatar)" alt="" class="col-md-3 no-padding" />
        <div class="col-md-8">
            <p class="font-comfortaa-bold">@string.Format("{0} {1}", Model.firstname, Model.lastname)</p>
            <div id="roles"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (@Model.role1 != null) {
            getRole(@Model.role1);
        }

        if (@Model.role2 != null) {
            getRole(@Model.role2);
        }

        function getRole(role) {
            $.ajax({
                url: '@(Request.Url.Scheme + Uri.SchemeDelimiter + Request.Url.Host +
                    (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port))' +
                    '/api/@Url.Action("GetById", "RoleApi")',
                type: "get",
                data: {
                    id: role
                },
                success: function (data) {
                    console.log(data.role.role);
                    var html = $('#roles').html();
                    html += '<p>'+data.role.role+'</p>';
                    $('#roles').html(html);
                },
                error: function (err) {
                    console.log(err.responseText);
                }
            });
        }
    });
</script>