@model DataTier.User

@{
    ViewBag.Title = "User profile";
    var avatar = Model.avatar ?? "~/Images/avatars/default_avatar.png";
}

<div class="user-profile col-md-12 no-padding">
    <div class="profile col-md-8 col-md-offset-2 font-comfortaa-light">
        <img src="@Href(avatar)" alt="" class="col-md-4 no-padding" />
        <div class="col-md-8 no-padding-right">
            <p>@string.Format("{0} {1}", Model.firstname, Model.lastname)</p>
            <div id="roles"></div>
            <div style="clear: both;"></div>
            <div id="info"></div>
        </div>
    </div>
    <div class="options col-md-8 col-md-offset-2 font-comfortaa-bold">
        <div class="option col-md-2 pull-left">Portfolio</div>
        <div class="option col-md-2 pull-left">Projects</div>
        <div class="option col-md-2 pull-right">Follower</div>
        <div class="option col-md-2 pull-right">Following</div>
    </div>
    <div class="col-md-12 clear" style="border-bottom: 1px solid #E6E6E6"></div>
    <div id="option-content-1" class="option-content col-md-8 col-md-offset-2 display-none"></div>
    <div id="option-content-2" class="option-content col-md-8 col-md-offset-2 display-none"></div>
    <div id="option-content-3" class="option-content col-md-8 col-md-offset-2 display-none"></div>
    <div id="option-content-4" class="option-content col-md-8 col-md-offset-2 display-none"></div>
</div>

<script>
    $(document).ready(function() {
        getRoles(addRole);
        getFollowers(@Model.id, loadFollowers);
        getFollowings(@Model.id, loadFollowings);
        getUserProjects(@Model.id, loadProjects);

        //get address
        $.ajax({
            url: '@(Request.Url.Scheme + Uri.SchemeDelimiter + Request.Url.Host +
                        (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port))' +
                '/api'+'@Url.Action("GetAddress", "AddressApi")',
            type: 'get',
            data: {
                country_id: '@Model.country_id',
                state_id: '@Model.state_id',
                district_id: '@Model.district_id'
            },
            success: function(data) {
                var html = $('#info').html();
                if (data.district != null) {
                    html += data.district.name;
                }

                if (data.state != null) {
                    html += ' ' + data.state.name;
                }

                if (data.country != null) {
                    html += ' ' + data.country.name;
                }

                $('#info').html(html + ' - Joined @(Model.created_date.ToString("Y"))');
            },
            error: function(err) {
                console.log(err);
            }
        });

        function addRole(roles) {
            var html = $('#roles').html();
            if (@Model.role1 != null) {
                html += '<p>' + roles[@(Model.role1-1)].role + '</p>';
            }

            if (@Model.role2 != null) {
                html += '<p>' + roles[@(Model.role2-1)].role + '</p>';
            }

            $('#roles').html(html);
        }

        function loadFollowers(followers) {
            var html = $('#option-content-4').html();
            followers.forEach(function(item, key) {
                html += '<div class="follower-row col-md-6 col-md-offset-3 no-padding">'+
                            '<img src="'+item.avatar+'" alt="" class="col-md-2 no-padding" />'+
                            '<div class="col-md-6"><p>'+item.firstname+' '+item.lastname+'</p><p>'+(item.about_me!==null?item.about_me:'')+'</p></div>'+
                            '<div class="col-md-4 text-left no-padding">'+
                                '<img src="/Images/block-icon.png" alt="" class="pull-left" />'+
                                '<button class="pull-right">Following</button>'+
                            '</div>'+
                        '</div>';
            });

            $('#option-content-4').html(html);
        }

        function loadFollowings(followings) {
            var html = $('#option-content-3').html();
            followings.forEach(function(item, key) {
                html += '<div class="follower-row col-md-6 col-md-offset-3 no-padding">'+
                            '<img src="'+item.avatar+'" alt="" class="col-md-2 no-padding" />'+
                            '<div class="col-md-6"><p>'+item.firstname+' '+item.lastname+'</p><p>'+(item.about_me!==null?item.about_me:'')+'</p></div>'+
                            '<div class="col-md-4 text-left no-padding">'+
                                '<img src="/Images/block-icon.png" alt="" class="pull-left" />'+
                                '<button class="pull-right">Following</button>'+
                            '</div>'+
                        '</div>';
            });

            $('#option-content-3').html(html);
        }

        function loadProjects(projects) {
            var html = $('#option-content-2').html();
            projects.forEach(function(item, key) {
                html+='<div class="project-card col-md-4">'+
                        '<div class="col-md-12 no-padding">'+
                            '<img src="'+item.image+'" alt="" />'+
                            '<p>'+item.title+'</p>'+
                            '<p>@(Model.firstname+ " " + Model.lastname)</p>'+
                            '<p>'+item.category_id+'</p>'+
                            '<p>'+item.description+'</p>'+
                            '<div class="progress">'+
                                '<div class="progress-bar" role="progressbar" aria-valuenow="'+(item.joined_people/item.people*100)+'"'+
                                    'aria-valuemin="0" aria-valuemax="100" style="width:'+(item.joined_people/item.people*100)+'%">'+
                                '</div>'+
                            '</div>'+
                            '<p>'+item.joined_people+' of '+item.people+' joined</p>'+
                        '</div>'+
                      '</div>';
            });

            $('#option-content-2').html(html);
        }

        $('.option').click(function() {
            $('.option').each(function() {
                $(this).removeClass('selected');
            });

            $(this).addClass('selected');

            $('.option-content').each(function() {
                $(this).removeClass('display-block');
            });

            var html = $(this).html();

            if (html.indexOf('Projects') !== -1) {
                $('#option-content-2').addClass('display-block');
            } else if (html.indexOf('Following') !== -1) {
                $('#option-content-3').addClass('display-block');
            } else if (html.indexOf('Follower') !== -1) {
                $('#option-content-4').addClass('display-block');
            }
        });
    });
</script>