@using DataTier
@model Project

@{
    ViewBag.Title = Model.title;
}

<div class="project-view col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 no-padding">
    <div class="project-image col-md-8 col-sm-8 no-padding">
        <img src="@Model.image" alt="" />
        <p id="project_category" class="pull-left"></p>
        <div class="progress pull-right col-md-6 col-sm-6 no-padding">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="@((float)Model.joined_people*100/Model.people)" a aria-valuemin="0" aria-valuemax="100"
                 style="width: @((float)Model.joined_people * 100/Model.people)%">
            </div>
        </div>
    </div>
    <div class="details col-md-4 col-sm-4 no-padding-right">
        <div class="creator row no-padding">
            <img src="" alt="" class="col-md-4 col-sm-4 no-padding" />
            <p class="col-md-8 col-sm-8 no-padding-right"></p>
        </div>
        <div class="roles row no-padding">
            <p>Open Roles</p>
        </div>
    </div>
    <div class="share-and-follow col-md-8 col-sm-8 no-padding">
        <div class="social-network col-md-6 col-sm-6 no-padding">
            Share: <img src="/Images/twitter-icon-share.png" alt="" />
            <img src="/Images/fb-icon-share.png" alt="" />
            <img src="/Images/share-icon.png" alt="" />
        </div>
        <div class="like-follow col-md-6 col-sm-6 no-padding">
            <img src="/Images/not-like.png" alt="" />
            <img src="/Images/like.png" alt="" class="hidden" />
            <button class="btn btn-yellow">Follow +</button>
        </div>
    </div>
</div>

<script>
    var cats, rols;
    var like = false;
    var follow = false;

    $(document).ready(function () {
        getCategories(loadCategory);
        getUserInfo(@Model.user_id, loadCreator);
        GetProjectRoles(@Model.id, 3, loadProjectCategories);

        isLike();
        isFollow();

        $('.like-follow img').click(function() {
            like = !like;
            changeLike();
            $.ajax({
                url: 'http://localhost:21790/api/ProjectApi/Like',
                type: 'get',
                dataType: 'json',
                data: {
                    token: '@Session["Token"]',
                    project_id: @Model.id,
                    'like': like
                },
                success: function(data) {
                    console.log(data);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        $('.like-follow button:first-of-type').click(function() {
            follow = !follow;
            changeFollow();
        });
    });

    function changeLike() {
        if (like) {
            $('.like-follow img:first-of-type').addClass("hidden");
            $('.like-follow img:nth-of-type(2)').removeClass("hidden");
        } else {
            $('.like-follow img:first-of-type').removeClass("hidden");
            $('.like-follow img:nth-of-type(2)').addClass("hidden");
        }
    }

    function changeFollow() {
        if (follow) {
            $('.like-follow button:first-of-type').css({ "background-color": "#5870B6", "color": "white" });
        } else {
            $('.like-follow button:first-of-type').css({ "background-color": "white", "color": "#5870B6" });
        }
    }

    function loadCategory(categories) {
        cats = categories;

        categories.forEach(function (item, index) {
            if (item.id == '@Model.category_id') {
                $("#project_category").text(item.category);
            }
        });
    }

    function loadCreator(user) {
        $('.creator img').attr('src', user.avatar);
        $('.creator p').html('Creator <span>'+user.firstname + ' '+ user.lastname+'</span>');
    }

    function loadProjectCategories(roles) {
        var html = $('.details .roles').first().html();

        roles.forEach(function(item, index) {
            html += '<div class="role-row"><p>' + item.role + '</p></div>';
        });

        $('.details .roles').first().html(html);
    }

    function isLike() {
        if ('@(Session["User"]!=null)'==='True') {
            $.ajax({
                url: 'http://localhost:21790/api/ProjectApi/IsLikedByUser',
                type: 'get',
                dataType: 'json',
                data: {
                    project_id: @Model.id,
                    user_id: @(((User)Session["User"]).id)
                },
                success: function(data) {
                    like = data.like;
                    changeLike();
                }
            });
        }
    }

    function isFollow() {

    }
</script>